<div class="fitting-room-container">
  <div class="top-bar">
    <span>{{ tenue }}</span>
    <div class="icon-buttons">
      <fa-icon [icon]="'arrow-left'" class="icon" (click)="onExit()"></fa-icon>
      <fa-icon [icon]="'redo'" class="icon" (click)="onRestart()"></fa-icon>
      <fa-icon [icon]="'save'" class="icon" (click)="onSave()"></fa-icon>
    </div>
  </div>

  <div *ngIf="tenue === 'Tenue Glam'">
    <div class="sidebar">
      <div class="menu-item" (click)="selectCategory('robe')">
        <img src="img/robe_icone.png" alt="Robe Icone" class="icon">
        <span>Robe</span>
      </div>
      <div class="menu-item" (click)="selectCategory('talons')">
        <img src="img/talons_icone.png" alt="Talons Icone" class="icon">
        <span>Talons</span>
      </div>
      <div class="menu-item" (click)="selectCategory('glamsac')">
        <img src="img/sac_icone.png" alt="Sac Icone" class="icon">
        <span>Sac</span>
      </div>
    </div>

    <div class="main-container">
      <div *ngIf="showInitialImages" class="initial-images">
        <img src="img/robe_icone.png" alt="Robe" />
        <img src="img/talons_icone.png" alt="Talons" />
        <img src="img/sac_icone.png" alt="Sac" />
      </div>

      <div *ngIf="!showInitialImages" class="center-container">
        <div class="right-item bottom-right" *ngIf="selectedGlamSac">
          <img [src]="selectedGlamSac" alt="Bottom" />
        </div>
        <div class="center-item" *ngIf="selectedRobe">
          <img [src]="selectedRobe" alt="Top" />
        </div>
        <div class="right-item top-right" *ngIf="selectedTalons">
          <img [src]="selectedTalons" alt="Bag" />
        </div>
      </div>

      <div class="image-slide-bar">
        <div class="slide-container">
          <div
            *ngFor="let item of slideBarItems; let i = index"
            class="slide-item"
            (click)="onSlideBarItemClick(item, i)"
          >
            <img
              [src]="item.image"
              [alt]="item.label"
              [class.selected]="selectedIndexes[selectedCategory] === i"
            />
            <span>{{ item.label }}</span>
          </div>
        </div>
      </div>        
    </div>
  </div>

  <div *ngIf="tenue === 'Tenue du jour'">
    <div class="sidebar">
      <div class="menu-item" (click)="selectCategory('haut')">
        <img src="img/haut_icone.png" alt="Haut Icon" class="icon">
        <span>Haut</span>
      </div>
      <div class="menu-item" (click)="selectCategory('bas')">
        <img src="img/bas_icone.png" alt="Bas Icon" class="icon">
        <span>Bas</span>
      </div>
      <div class="menu-item" (click)="selectCategory('chaussure')">
        <img src="img/chaussure_icone.png" alt="Chaussure Icon" class="icon">
        <span>Chaussure</span>
      </div>
      <div class="menu-item" (click)="selectCategory('sac')">
        <img src="img/sac_icone.png" alt="Sac Icon" class="icon">
        <span>Sac</span>
      </div>
    </div>

    <div class="main-container">
      <div *ngIf="showInitialImages" class="initial-images">
        <img src="img/haut_icone.png" alt="Top" />
        <img src="img/bas_icone.png" alt="Bottom" />
        <img src="img/chaussure_icone.png" alt="Shoe" />
        <img src="img/sac_icone.png" alt="Bag" />
      </div>

      <div *ngIf="!showInitialImages" class="center-container">
        <div class="left-item" *ngIf="selectedBottom">
          <img [src]="selectedBottom" alt="Bottom" />
        </div>
        <div class="center-item" *ngIf="selectedTop">
          <img [src]="selectedTop" alt="Top" />
        </div>
        <div class="right-item top-right" *ngIf="selectedShoe">
          <img [src]="selectedShoe" alt="Shoe" />
        </div>
        <div class="right-item bottom-right" *ngIf="selectedBag">
          <img [src]="selectedBag" alt="Bag" />
        </div>
      </div>

      <div class="image-slide-bar">
        <div class="slide-container">
          <div
            *ngFor="let item of slideBarItems; let i = index"
            class="slide-item"
            (click)="onSlideBarItemClick(item, i)"
          >
            <img
              [src]="item.image"
              [alt]="item.label"
              [class.selected]="selectedIndexes[selectedCategory] === i"
            />
            <span>{{ item.label }}</span>
          </div>
        </div>
      </div>        
    </div>
  </div>
</div>
