.fitting-room-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

.top-bar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: sticky;
    top: 0;
    z-index: 10;
    position: relative; 
}

.top-bar span {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #515779;
    text-shadow: 2px 2px 4px whitesmoke;
}

.icon-buttons {
    position: absolute;
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%);
    display: flex;
    gap: 15px;
}

.icon-buttons .icon {
    font-size: 1.2rem; 
    color: #515779; 
    cursor: pointer;
    width: 30px; 
    height: 30px; 
    border: 2px solid #515779; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: whitesmoke; 
    transition: transform 0.2s ease, color 0.3s ease, background-color 0.3s ease;
}

.icon-buttons .icon:hover {
    transform: scale(1.1);
    color: #6b6f91;
    background-color: #f0f0f0;
    border-color: #6b6f91; 
}

.sidebar {
    position: fixed;
    left: 2%;
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.main-container
{
    height: 65vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.menu-item {
    width: 100%;
    text-align: center;
    margin: 15px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #e0e0e0;
}

.icon {
    width: 40px;
    height: 40px;
}

.menu-item span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

.image-slide-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.slide-container {
    display: flex;
    gap: 20px; /* Adds space between the images */
}

.slide-item {
    text-align: center;
    transition: transform 0.3s ease; /* Smooth scaling effect on hover */
}

.slide-item:hover {
    transform: scale(1.1); 
}

.slide-item img {
    width: 80px; 
    height: auto;
    border-radius: 5px; 
    border: 2px solid transparent; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.slide-item img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-color:rgba(0, 0, 0, 0.2);
}

.slide-item img.selected {
    border-color: #515779;
}

.slide-item span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}


.center-container {
    height: 65vh;
    display: grid;
    grid-template-areas:
        "left center right"
        "left center right";
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    
}

.left-item {
    grid-area: left;
    margin-right: -70px;
}

.center-item {
    margin-top: -40px;
    grid-area: center;
}

.top-right {
    grid-area: right;
    margin-top: -250px !important;
    margin-left: -25px !important;
}

.bottom-right {
    grid-area: right;
    margin-bottom: -150px;
    margin-left: -25px !important;
}

.left-item img,
.center-item img {
    max-width: 450px;
    max-height: 400px;
}

.right-item img {
    max-width: 200px;
    max-height: 200px;
}

.initial-images {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin-top: 20px; 
  }
  
  .initial-images img {
    width: 50px; 
    height: 50px; 
    border-radius: 8px; 
    border: 1px solid #ddd;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  

  