<div class="fitting-room-container">
  <!-- Top Bar -->
  <div class="top-bar">
    <span>{{ tenue }}</span>
    <div class="icon-buttons">
      <fa-icon [icon]="'arrow-left'" class="icon" (click)="onExit()"></fa-icon>
      <fa-icon [icon]="'redo'" class="icon" (click)="onRestart()"></fa-icon>
      <fa-icon [icon]="'save'" class="icon" (click)="onSave()"></fa-icon>
    </div>
  </div>
  

  <div *ngIf="tenue === 'Tenue Glam'">
    <p>Loading the Tenue de Soirée...</p>
  </div>
  
  <div *ngIf="tenue === 'Tenue du jour'">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="menu-item" (click)="selectCategory('haut')">
        <img src="img/haut_icone.png" alt="Haut Icon" class="icon">
        <span>Haut</span>
      </div>
      <div class="menu-item" (click)="selectCategory('bas')">
        <img src="img/bas_icone.png" alt="Bas Icon" class="icon">
        <span>Bas</span>
      </div>
      <div class="menu-item" (click)="selectCategory('chaussure')">
        <img src="img/chaussure_icone.png" alt="Chaussure Icon" class="icon">
        <span>Chaussure</span>
      </div>
      <div class="menu-item" (click)="selectCategory('sac')">
        <img src="img/sac_icone.png" alt="Sac Icon" class="icon">
        <span>Sac</span>
      </div>
    </div>

    <div class="main-container">
      <!-- Center Display -->
      <div *ngIf="showInitialImages" class="initial-images">
        <img src="img/haut_icone.png" alt="Top" />
        <img src="img/bas_icone.png" alt="Bottom" />
        <img src="img/chaussure_icone.png" alt="Shoe" />
        <img src="img/sac_icone.png" alt="Bag" />
      </div>
      
      <div *ngIf="!showInitialImages" class="center-container">
        <div class="left-item"><img *ngIf="selectedBottom" [src]="selectedBottom" alt="Bottom" /></div>
        <div class="center-item"><img *ngIf="selectedTop" [src]="selectedTop" alt="Top"></div>
        <div class="right-item top-right"><img *ngIf="selectedShoe" [src]="selectedShoe" alt="Shoe"></div>
        <div class="right-item bottom-right"><img *ngIf="selectedBag" [src]="selectedBag" alt="Bag"></div>
      </div>
    
    <!-- Image Slide Bar -->
    <div class="image-slide-bar">
      <div class="slide-container">
        <div
          *ngFor="let item of slideBarItems; let i = index"
          class="slide-item"
          (click)="onSlideBarItemClick(item, i)"
        >
          <!-- Ajouter la classe 'selected' si l'index correspond -->
          <img
            [src]="item.image"
            [alt]="item.label"
            [class.selected]="selectedIndexes[selectedCategory] === i"
          />
          <span>{{ item.label }}</span>
        </div>
      </div>
    </div>        
  </div>
</div>
</div>